In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/Users/nittarin/Downloads/VSCode/graspp-25S-innovation/data/2023_kaku_01-10.xls')

In [3]:
df

,第１巻 〔研究開発に関する表〕第１０表 産業別、企業数、売上高、研究開発費及び売上高比率、受託研究費、研究開発投資、能力開発費\n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,列見出し1,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発,研究開発投資,研究開発投資,能力開発,能力開発
1,NaN,NaN,NaN,列見出し2,企業数,売上高,研究開発費,研究開発費,研究開発費,研究開発費,研究開発費,売上高研究開発費比率,受託研究費,受託研究費,受託研究費,企業数,当期取得額,企業数,能力開発費
2,NaN,NaN,NaN,列見出し3,NaN,NaN,計,自社研究開発費,委託研究開発費,委託研究開発費,委託研究開発費,NaN,NaN,うち、関係会社からの受託,うち、関係会社からの受託,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,列見出し4,NaN,NaN,NaN,NaN,NaN,うち、関係会社への委託,うち、関係会社への委託,NaN,NaN,国内,海外,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,列見出し5,NaN,NaN,NaN,NaN,NaN,国内,海外,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,927,ディスプレイ業,2022100000,2022年度,2,X,X,X,***,***,***,X,***,***,***,***,***,6,70
169,928,テレマーケティング業,2022100000,2022年度,4,70839,154,105,49,***,***,0.22,***,***,***,***,***,26,577
170,929,その他の事業サービス業,2022100000,2022年度,47,X,X,X,7315,405,***,X,292,260,***,3,59,237,3251
171,R2,サービス業（その他のサービス業）,2022100000,2022年度,80,3863125,204683,189146,15537,1086,1011,5.3,8079,485,6861,23,10362,254,4270
172,Z,その他の産業,2022100000,2022年度,237,16408973,279942,244351,35591,707,17348,1.71,2410,***,***,53,2494,560,16117